.navbar{
    background-color: #1f5156;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    position: sticky;
    z-index: 20;
}
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1500px;
}
.nav-logo{
    color: yellow;
    align-items: center;
}