*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  display: inline-block;
}
span{
  color: rgb(241, 82, 50);
}

input{
  padding:18px;
  display: block;
  border: none;
  box-shadow: 0px 0px 10px lightgrey;
}
footer{
  color: white;
  background-color: rgb(55, 55, 55);
  padding: 66px 135px;
  display: flex;
  gap:37px;
}
footer ul{
  display: flex;
  flex-direction: column;
  gap:11px;
}
footer h2{
  margin-bottom: 25px;
}
footer p{
  margin-bottom: 15px;
}
ul{
  list-style-type: none;
}

button{
  background-color: rgb(241, 82, 50);
  color: white;
  display: inline-block;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(241, 82, 50);
  padding: 13px 22px 12px 19px;
}
.nav{
display: flex;
padding: 26px 0px;
justify-content: space-around;
align-items: center;
}
.nav ul{
  display: flex;
  gap: 38px;
  align-self: center;
}
.nav .menu{
  display: none;
}
.sec-one{
  background-color: rgb(254, 247, 244);
  display: flex;
  flex-direction: row;
  padding: 153px 135px;
  gap:35px;
  position: relative;
}
.img-one{
  height:429px ;
  width:639px;
}
.sec-one figure{
position: absolute;
right: 0px;
top:217px;
}
.sec-one h1{
  margin-bottom: 11px;
}
.sec-one div{
  width: 40%;
  margin-bottom: 11px;
}
.sec-one p{
  color: gray;
  margin-bottom: 50px;
}
.sec-two{
  background-color: white;
  padding: 120px 135px;
}
.img-two{
  height:348px ;
  width: 657px;
}


.sec-two p{
color: gray;  
margin-bottom: 25px;
}
.sec-two h6{
  color: gray;
  margin-bottom: 25px;
}
.sec-two h1{
  margin-bottom: 18px;
}
.sec-two-flex-cards{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 60px;
}
.sec-two .about-card img{
  height: 70px;
  width: 70px;
}
.about-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:36px;
  padding: 25px 33px; 
  box-shadow: 0px 0px 5px lightgray;
}
.about-card h6{
  color: darkslategrey;
}

.sec-three{
  background-color: rgb(254, 247, 244);
  padding: 60px 135px;
  display: flex;
}
.sec-three .people-flex div:nth-child(2){
  margin-top: 23px;
}

.sec-three h6{
  color: gray;
  margin-bottom: 25px;
}
.sec-three h1{
  margin-bottom: 18px;
}
.sec-three p{
  color: gray;
  margin-bottom: 50px;
}
.sec-three-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 5px lightgrey;
  height: 150px;
  width: 150px;
}
.sec-three-cards h5{
  color:grey;
}

.sec-four{
text-align: center;
background-color: white;
padding: 120px 135px ;
}
.sec-four ul{
display: flex;
flex-direction: row;
justify-content: center;
gap:43px;
margin-bottom: 60px;
}
.sec-four h6{
  color: grey;
  margin-bottom: 25px;
}

.sec-four h1{
  margin-bottom:60px ;
}

.sec-four ul{
  display: flex;
  gap: 43px;
  color: grey;
}

.gustavo{
box-shadow: 0px 0px 10px lightgrey;
height: 350px;
width: 250px;
position: relative;
}

.icon{
position: absolute;
right: -10px;
top:28px;
}

.sec-five{
  background-color: rgb(254, 247, 244);
  padding: 60px 135px;
  text-align: center;
}

.sec-five h6{
  color: grey;
  margin-bottom: 25px;
}

.sec-five h1{
  margin-bottom: 50px;
}

.clients{
  background-color:rgb(241, 82, 50);
  color: white;
  box-shadow: 0px 0px 5px rgb(241, 82, 50);
  padding: 34px 35px 25px 65px;
  position: relative;
}
.client-flex{
  display: flex;
 gap:190px; 
 text-align: left;
}
.clients img{
  position: absolute;
  top: 25px;
  left: -40px;
}

.clients h4{
  margin-bottom: 7px;
}

.clients h6{
  margin-bottom: 23px;
  color: white;
}

.sec-six{
  padding: 120px 135px;
  background-color: white;
  text-align: center;
}
.sec-six .people-flex{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}


.sec-six h6{
  color: grey;
  margin-bottom: 25px;
}

.blogs{
  box-shadow:0px 0px 10px lightgrey;
  padding: 25px;
  margin-top: 60px;
  text-align: left;
}

.flex{
  display: flex;
  gap: 48px;
}

.flex h6{
  color:rgb(241, 82, 50);
  margin-bottom: 18px;
}

.flex-2{
  display: flex;
  gap:10px;
}

.flex-2 div{
  align-self: center;
}

.flex-2 h6{
  margin-top: 6px;
  color: grey;
}
.contact-us{
  margin-top: 120px;
}
.contact{
  box-shadow: 0px 0px 10px lightgrey;
  padding: 18px 24px;
}

.contact h5{
  text-align: left;
  color: grey;
}
.contact-card{
  display: flex;
  gap:18px;
}
.sec-six .contact-card img{
  height: 75px;
  width: 75px;
}
.people-flex{
  display: flex;
  gap:30px;
}

.copyright{
  background-color:rgb(241, 82, 50);
  color: white;
  padding: 20px 135px;
}
.sec-six .people-flex h3{
  text-align: left;
  margin-bottom: 18px;
}

form div{
display: flex;
margin-bottom: 29px;
gap:10px;
}
.form-flex img{
  width:632px;
  height:333px;
}
.frames{
  margin-top: 122px;
  display: flex;
  gap: 120px;
}
.frames img{
  height: 167px;
  width:213px;
}



@media screen and (max-width:800px){

  .nav{
    padding: 9px 14px;
  }
  .nav ul{
    display: none;
  }
  .nav .menu{
    display: block;
  }

  .sec-one figure{
  display: none;
    }
    .sec-one{
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
      padding: 50px 20px;
      text-align: center;
    }
    .sec-one div{
      width: 100%;
      margin-bottom: 11px;
    }
    .img-one{
      height:225px ;
      width:335px;
    }
    .sec-two{
      text-align: center;
      padding: 50px 20px;
    }
    .img-two{
      height:192px ;
      width: 320px;
    }
    
  
    .sec-two .about-card img{
      height: 50px;
      width: 50px;
    }
    .about-card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:20px;
      padding: 25px 42px;
      width: 100%;
      box-shadow: 0px 0px 5px lightgray;
    }
    .sec-two .contact-card{
      display: flex;
      flex-direction: column;
    }
    
    .sec-two-flex-cards{
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .sec-three{
      padding: 20px 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .sec-three .people-flex{
      display: flex;
      flex-direction: column;
    }
    .sec-three-cards{
      height: 200px;
      width: 340px;
    }
    .sec-three button{
      margin-bottom: 50px;
    }
   .sec-four{
    padding: 50px 16px;
   }
   .sec-four .people-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .sec-five{
    text-align: center;
    padding: 50px 36px;
   }
   .sec-five h6 {
    margin-bottom: 18px;
  }
  .sec-five h1{
    margin-bottom: 18px;
  }
  
   .client-flex{
   display: flex;
   flex-direction: column; 
   text-align: left;
   align-items: center;
   gap:38px;
  }
  .clients{
    padding: 26px 12px 18px 35px;
  }
  .clients img{
    position: absolute;
    top: 25px;
    left: -20px;
    height: 40px;
    width: 40px;
  }
  .clients h4{
    margin-bottom: 7px;
  }
  
  .clients h6{
    margin-bottom: 12px;
    color: white;
  }
  .sec-six{
    padding: 50px 35px;
    text-align: center;
  }
  .sec-six .people-flex{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    gap:18px;
  }
  .blogs{
    padding: 18px;
    margin-top: 60px;
    text-align: left;
  }
  .blogs .flex img{
    height: 80px;
    width:80px;
  }
  .flex{
    display: flex;
    gap: 10px;
  }
  
  .flex h6{
    margin-bottom: 6px;
  }

  .blogs .flex-2 img{
    height: 40px;
    width:40px;
  }

  .flex-2 h6{
    margin-top: 1px;
    margin-bottom: 0px;
  }
  .contact-us .people-flex{
    display: flex;
    flex-direction: column;
    gap:25px;
  }
  .contact-us h6{
    margin-bottom: 18px;
  }
  .contact-us h1{
    margin-bottom: 18px;
  }
  .contact-card{
    display: flex;
    flex-direction: row;
  }
  .contact-card div{
    align-self: center;
  }
  form div{
  display: flex;
  flex-direction: column;
  gap:0px;
  margin-bottom: 0px;
  }
  form input {
    margin-bottom: 18px;
  }  
  .form-flex{
    display: flex;
    flex-direction: column;
  }
  .form-flex img{
    margin: auto;
    width:261px;
    height:168px;
  }
  .frames{
    margin-top: 50px;
    display: flex;
    gap: 29px;
  }
  .frames img{
    height: 53px;
    width:67px;
  }
  footer{
    padding: 50px 26px 50px 15px;
    display: flex;
    flex-direction: column;
    gap:50px;
  }
  footer h2{
    margin-bottom: 18px;
  }
  footer p{
    margin-bottom: 18px;
  }
  .copyright{
    padding: 18px 40px;
  }

}